@import "./variables.css";
@import "../node_modules/normalize.css/normalize.css";
@import "http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css";

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  color: var(--textColorDark);
  background: var(--backgroundColorDark);
}

.container {
  width: 320px;
  min-height: 100vh;
  background: var(--backgroundColorBright);
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.common-list_container,
.person-info_container {
  width: 100%;
  position: absolute;
  transition: var(--transitionSpeed);
}

.persons-list_title {
  color: var(--textColorDark);
  padding: var(--padding);
  font-weight: bold;
  height: 60px;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.persons-list {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.person {
  width: 100%;
  padding: var(--padding);
  display: flex;
  gap: var(--gap);
  transition: var(--transitionSpeed);
}

.person:hover {
  background-color: var(--hoverColor);
  cursor: pointer;
}

.common-list_title,
.person-info_title {
  height: 60px;
  font-size: 2rem;
  display: flex;
  align-items: center;
  padding: var(--padding);
  background: var(--gradient);
  gap: var(--gap);
  font-weight: bold;
}

.person-title_image {
  height: 100%;
  border-radius: var(--borderRadius);
}

.person-title_icon {
  background-color: var(--backgroundColorDark);
  color: var(--textColorBright);
  border-radius: var(--borderRadius);
  height: 40px;
  width: 40px;
  text-align: center;
  font-weight: bold;
}

.person-title_icon:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}
